* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-family:  "Montserrat", sans-serif;

    background-color: hsl(30, 38%, 92%);
}

.card {
    width: 750px;
    height: 550px;

    border-radius: 9px;
    overflow: hidden;

    display: flex;
    align-items: stretch;
    justify-content: center;

    color: hsl(228, 12%, 48%);
    background-color: #fff;
}

.card-img,
.card-body {
    width: 50%;
}

.card-img {
    background-image: url('./images/image-product-desktop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-body {
    padding: 35px;

    display: flex;
    flex-direction: column;
    gap: 30px;

}

.card-body .category {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.card-body h1 {
    font-size: 42px;
    line-height: 1;

    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', sans-serif;
}

.card-body .product-description {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
}


.card-body .price-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.card-body .price-container p:nth-of-type(1) {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Fraunces', sans-serif;

    color: hsl(158, 36%, 37%);
}

.card-body .price-container p:nth-of-type(2) {
    text-decoration: line-through;
    font-size: 16px;
    font-weight: 400;
}

.card-body .add-cart-btn {
    padding: 20px;

    font-size: 16px;

    border: none;
    border-radius: 8px;

    color: #fff;
    background-color: hsl(158, 36%, 37%);
    
    transition: background 0.3s ease-in-out;
    
    cursor: pointer;
}

.card-body .add-cart-btn:hover {
    background:hsl(158, 42%, 18%)
}

@media (max-width: 375px) {
    body {
        min-height: 100vh;
    }

    .card {
        height: 725px;
        width: 350px;

        flex-direction: column;
    }

    .card-img {
        width: 100%;
        height: 45%;

        background-image: url('./images/image-product-mobile.jpg');
    }

    .card-body {
        padding: 30px;

        width: 100%;
        height: 55%;

        gap: 20px;
    }

    .card-body h1 {
        font-size: 32px;
    }

    .card-body .product-description {
        font-size: 14px;
    }
        
    .card-body .price-container p:nth-of-type(1) {
        font-size: 30px;   
    }

    .card-body .add-cart-btn {
        padding: 15px;
    }

}